.backdropStyle {  
    position: 'fixed',
    background-color 'rgba(0, 0, 0, 0.4 )',
    padding 50,
}
    
.footerStyle { 
    margin:200px 
}
    
.modalStyle  {
    background-color: '#fff',
    max-width 700px,
    max-height 300px,
    margin 0 auto,
    padding 30,
    position 'relative'
}